@using BookShop.Application;
@model BookEdit;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post" action="/Admin/Edit">
    <div class="form-group">
        <input type="hidden" class="form-control" name="Id" value="@Model.Id">
    </div>
    <div class="form-group">
        <label for="Name">Book Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter Name" value="@Model.Name" required>
    </div>
    <div class="form-group">
        <label for="Author">Author Name</label>
        <input type="text" class="form-control" name="Author" placeholder="Enter Author" value="@Model.Author">
    </div>
    <div class="form-group">
        <label for="Janre">Janre</label>
        <input type="text" class="form-control" name="Janre" placeholder="Enter Janre" value="@Model.Janre">
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" name="Price" placeholder="Enter Price" value="@Model.Price" required>
    </div>
    <div class="form-group">
        <label for="Year">Year</label>
        <input type="number" class="form-control" name="Year" placeholder="Enter Year" value="@Model.Year">
    </div>
    <button type="submit" class="btn btn-warning">Submit</button>
</form>

